<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="add" class="com.example.Add"/>
    <bean id="sub" class="com.example.Sub"/>
    <bean id="mul" class="com.example.Mul"/>
    <bean id="div" class="com.example.Div"/>
</beans>